html * {
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
}
img {
  width: 500px;
}
#load {
  display: none;
}
#results {
  display: none;
}
#js_contact {
  display: none;
}
.render_timeline {
  display: none;
  height: 200px;
}
.render_thumbnails {
  height: 100%;
}
.render_thumbnails img{
  width: 100px;
  height: 100px;
}