@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800,800i');

html * {
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
}
img {
  width: 500px;
}
nav ul {
  display: flex;
  justify-content: space-around;
}
#js_website_test {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#results_overview {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.thumb_box {
  display: flex;
  flex-direction: column;
}
#load {
  display: none;
}
#results {
  display: none;
}
#js_contact {
  display: none;
}
#contact-form {
  display: flex;
  flex-direction: column;
}
.render_timeline {
  display: none;
  height: 200px;
}
.render_thumbnails {
  height: 100px;
}
.render_thumbnails img{
  width: 100px;
  height: 100px;
}
.chart_div {
  height: 120px;
  width: 150px;
}